* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
* :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input ::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button ::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: initial;
    font-weight: 400;
}

body {
    font-family: 'Inter', sans-serif;
    width: 399.13px;
    height: 598.69px;
    margin: 196px auto 197.31;
    background: #F4F4F4;
    box-shadow: 15.9651px 11.7144px 53.3733px rgba(0, 0, 0, 0.2);
}


.content {
    margin: 30px;
}

.sector-header {}

.sector-header__image {}

.section-folder {
    display: flex;
    align-items: center;
    margin: 0 0 35 0;
}

.section-folder__icon {}

.section-folder__content {
    display: flex;
    align-items: center;
    width: 100%;
}

.section-folder__title {
    color: rgba(65, 63, 63, 1);
    padding: 0px 13px 0px 12px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.section-folder__line {
    border: 0.997817px solid rgba(188, 188, 196, 0.44);
    width: 100%;
}

.section-folder__dropdown {
    padding: 0 6px 0 13px;
}

.section-folder__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: 20px;
    height: 20px;
    background: #413f3f;
    color: #F4F4F4;
    font-size: 10px;
    border-radius: 6px;
}

.section-list {
/*     max-height: 0;
    overflow: hidden; */
}

.section-list__items {}

.section-list__item:nth-child(-n+4) {
    margin-top: 24px;
    padding-left: 32px;
}

.section-list__item:nth-child(5) {
    margin-top: 11px;
    margin-left: 60px;
}

.section-list__item:nth-child(6) {
    margin-top: 24px;
    padding-left: 60px;
}

.section-list__item:nth-child(7) {
    margin-top: 24px;
    padding-left: 60px;
}

.section-list__item:nth-child(8) {
    margin-top: 24px;
    padding-left: 32px;
    margin-bottom: 48px;
}

.section-list__item-checkbox {}

.section-list__item-task {
    background-color: #F4F4F4;
    border-color: #F4F4F4;
    font-size: 15px;
    color: rgba(65, 63, 63, 1);
    font-weight: 500;
    outline: none;
    font-size: 15px;
    line-height: 18px;
}

input[type="checkbox"] {
    display: none;
}

label::before {
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0 8.7px 0 0;
    border-radius: 6px;
    border: 2px solid #C4C4C4;
    background-color: #F4F4F4;
    ;

}

input[type="checkbox"]:checked+label::before {
    content: '';
    font-family: 'Inter';
    font-style: normal;
    border-color: #B5B5BA;
    background-color: #B5B5BA;
    background-position: center;
    color: #B5B5BA;
    background-repeat: no-repeat;
    background-size: 50%;
    text-decoration: line-through;
    background-image: url(../img/check_icon-image.png)
}

input[type="checkbox"]:hover+label::before {
    border-color: #7e7d7d;
}

input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    color: #C4C4C4;
}

input[type="checkbox"]:disabled+label::before {
    border-color: #dbd9d9;
}

input[type="checkbox"]:disabled+label {
    color: #dbd9d9;
}

.section-list__item-title {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #413F3F;
}

.section-list__item-duedate {
    display: flex;

}

.section-list__item-duedate-title {
    padding: 0 0 0 3.5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #776EC9;
}

.section-list__item-duedate-icon {}